header {
  background: $secondary-color;
  padding: 1.25rem;
  nav {
    @include flex-center;
    justify-content: space-between;
    ul {
      list-style: none;
      display: flex;
      gap: 1.25rem;
      li {
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media (max-width: 48em) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

#about,
#projects,
#contact {
  padding: 3.125rem;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem;
  justify-items: center;
}

.project-card {
  background: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    border-radius: 0.625rem;
  }
}

#scrollProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: $primary-color;
  width: 0%;
  z-index: 9999;
}

.scroll-top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.75rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
    transform: scale(1.1);
  }

  i {
    font-size: 1.2rem;
  }
}


